/build-aux
CVS
*.lo
*.o
Makefile
Makefile.in
*~
*.la
.deps
.cvsignore
libferris*tar*bz2
libferris*tar*xz
libferris*tar*gz
*.flc
stamp-h1
mkinstalldirs
missing
ltmain.sh
*.log
*.pc
ferris-config
install-sh
config.guess
config.h
config.lt
config.sub
configure
TAGS
libtool
.libs
m4


depcomp
compile
aclocal.m4
autom4te.cache
/*.sum
/ferris.xml

apps/fcreate/fcreate
appsui/gfcreate/gfcreate

*.moc
/DBusGlue/broker_interface.h
/DBusGlue/worker_interface.h
/Ferris/mocimpls.cpp
/apps/fagent
/apps/fagentcreate
/apps/fcat
/apps/fclipcopy
/apps/fclipcut
/apps/fcliplink
/apps/fcompress
/apps/fclippaste
/apps/fclipredo
/apps/fclipundo
/apps/fdu
/apps/ferris-cursor
/apps/ferris-out-of-proc-notification-deamon
/apps/ferris-file-action
/apps/ferris-get-emblems-within-range
/apps/ferris-internal-file-to-fifo-command
/apps/ferris-redirect
/apps/ferris-runner
/apps/ferris-set-file-action-for-type
/apps/ferriscdexe
/apps/ferriscp
/apps/ferrisls
/apps/ferrismv
/apps/ferrisrm
/apps/fhead
/apps/fmedallion
/apps/fmkdir
/apps/fmodestr2octal
/apps/fnamespace
/apps/fschema
/apps/ftail
/apps/ftee
/apps/ftouch
/apps/gmon.out
/config.status
/exposures/kio/kio_ferris_moc.cpp
/exposures/kio/mocimpls.cpp
/gnulib/
*moc.cpp
*moc_impl.cpp
*moc_generator.cpp

/appsui/gfindexadd
/appsui/gfcreate
/appsui/gfdl
/appsui/gfmv
/appsui/gfproperties
/appsui/gfrm
/plugins/context/amarok/player_interface.cpp
/plugins/context/amarok/player_interface.h
/plugins/context/amarok/tracklist_interface.cpp
/plugins/context/amarok/tracklist_interface.h
/plugins/context/klipper_interface.cpp
/plugins/context/klipper_interface.h
/plugins/context/klipper_interface_public.hh
/plugins/context/printer/mocimpls.cpp
/snippet/
/plugins/context/facebooktest
/plugins/context/ferris-webphoto-remote-url-to-eaindex-predicate
/plugins/context/ferris-webphoto-upload
/plugins/context/gdbmaker
/plugins/context/googletest
/plugins/context/libffilterspirittest
/plugins/context/libfulltextbooleanspirittest
/plugins/context/stub.c
/plugins/context/vimeotest
/plugins/context/webphotostest
