ferris-create-fca-scale-nominal
ferris-create-fca-scale-numeric
ferris-create-fca-scale-numeric-ordinal
ferris-create-fca-scale-splice-in-ffitler
ferris-create-fca-scale-urls
ferris-create-fca-tree
ferris-export-concept-lattice-to-toscanaj
ferris-export-formal-context-to-burmeister
ferris-lattice-from-cfi
gf-create-fca-scale-numeric
ferris-export-concept-lattice-to-burmeister
