/Makefile.am
/assure.h
/at-func.c
/basename-lgpl.c
/chdir-long.c
/chdir-long.h
/cloexec.c
/cloexec.h
/close.c
/dirent.in.h
/dirfd.c
/dirname-lgpl.c
/dirname.h
/dosname.h
/dup-safer.c
/dup2.c
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/fchdir.c
/fcntl.c
/fcntl.in.h
/fd-hook.c
/fd-hook.h
/fd-safer.c
/filenamecat-lgpl.c
/filenamecat.h
/fstat.c
/getcwd-lgpl.c
/getdtablesize.c
/gettext.h
/gettimeofday.c
/intprops.h
/malloc.c
/memchr.c
/memchr.valgrind
/mempcpy.c
/memrchr.c
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/open.c
/openat-die.c
/openat-priv.h
/openat-proc.c
/openat.c
/openat.h
/pathmax.h
/pipe-safer.c
/readlink.c
/readlinkat.c
/realloc.c
/save-cwd.c
/save-cwd.h
/stat.c
/stdbool.in.h
/stddef.in.h
/stdio.in.h
/stdlib.in.h
/strdup.c
/strerror-override.c
/strerror-override.h
/strerror.c
/string.in.h
/stripslash.c
/strverscmp.c
/sys_stat.in.h
/sys_time.in.h
/sys_types.in.h
/time.in.h
/unistd--.h
/unistd-safer.h
/unistd.c
/unistd.in.h
/verify.h
/strtok_r.c
