[Desktop Entry]
Name=MPlayer widescreen
Comment=16:9 ani view
Exec=mplayer -aspect 16:9  -pp 8 
Icon=icons://mplayer.png
Terminal=0
Type=Application

