[Desktop Entry]
Name=MPlayer NOSOUND
Comment=Play any animation known to man
Exec=mplayer -pp 8 -nosound 
Icon=icons://mplayer.png
Terminal=0
Type=Application

