README.Debian
compat
copyright
cron.d.ex
debian.dsc
dirs
docs
emacsen-install.ex
emacsen-remove.ex
emacsen-startup.ex
ferris.install
ferris.substvars
ferris/
files
init.d.ex
libferris-default.ex
libferris-dev.dirs
libferris-dev.install
libferris-dev.substvars
libferris-dev/
libferris.doc-base.EX
libferris1.dirs
libferris1.install
libferris1.substvars
libferris1/
libferrisui1.install
libferrisui1.substvars
libferrisui1/
libferrisxslt1.install
libferrisxslt1.substvars
libferrisxslt1/
manpage.1.ex
manpage.sgml.ex
manpage.xml.ex
menu.ex
postinst.ex
postrm.ex
preinst.ex
prerm.ex
shlibs.local.ex
tmp/
watch.ex
